.login-form--container{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-form--form{
    display: flex;
    flex-direction: column;
}

.cancel{
    position: relative;
    left: 600px;
    top:-55px
}